  :root {
    /* CSS HEX */
    /*mountain-meadow:*/
    --pop: #02C39A;
    /*pale-spring-bud*/
    --bright: #F0F3BD;
    /*persian-green*/
    --link: #00A896;
    /*charcoal*/
    --grey: #373F51;
    /*raisin-black*/
    --background: #1B1B1E;
    }

  

